/*NOTE: Estilos a la barra lateral**/
#barraLateral{
    width: 25%;
    padding-top: 38px;
    min-height: 77vh;
}

#barraLateral h3{
    margin-left: 25px;
}

#barraLateral ul{
    margin-top: 20px;
    margin-bottom: 20px;
}

#barraLateral ul li{
    list-style: square;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}