/*NOTE: Estilos para la cabecera de la web**/
#cabecera{
    background: #e5e5e5;
}

#logo{
    padding: 10px;
    margin-left: 10px;
}

#logo img{
    float: left;
    height: 100px;
}

#logo a{
    float: left;
    font-size: 45px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 15px;
    text-shadow: 0px 2px 1px #333333;
}