/**NOTE: Estilos a los formulario**/
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select, textarea{
    background: #ffffff;
    padding: 5px;
    color: #000000;
    transition: all 300ms;
}

input[type="button"],
input[type="submit"],
button{
    border-radius: 4px;
    padding: 5px;
    color: #ffffff;
    background: #ff5400;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}