/*NOTE: Estilos que se utilizaran de manera general en la web*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #32373b;
}

hr{
    border: 1px solid #000000;
}

h1{
    font-size: 24px;
    text-align: center;
    letter-spacing: 1px;
    border-bottom: 2px solid #fca311;
    margin-bottom: 20px;
    width: fit-content;
}

h3{
    font-size: 20px;
    color: #333333;
    letter-spacing: 1px;
    width: fit-content;
    border-bottom: 2px solid #fca311;
    margin-bottom: 20px;
}

i{
    color: #f1faee;
    margin-top: 5px;
}

i:hover{
    color: #f1faee;
}

a{
    color: #32373b;
    text-decoration: none;
}

b{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
}

.posicionA{
    position: absolute;
}

.posicionR{
    position: relative;
}

.sin-borde{
    border: none;
}

.sin-margin{
    margin: 0px;
}

#web{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #e5e5e5;
}

#contenido{
    display: flex;
    flex-direction: row;
}

.vidriera{
    border-left: 2px solid #f1c47b;
}

.boton{
    display: inline-block;
    border-radius: 4px;
    width: auto;
    padding: 3px 5px 3px 5px;;
    cursor: pointer;
    color: #e5e5e5;
}

.boton-herramienta:hover{
    background-color: #32373b;
    color: #e5e5e5;
    transition: all 0.5s ease-out;
}

.boton-posicion{
    position: absolute;
    top: 2%;
    left: 20%;
}

.boton-posicion2{
    position: absolute;
    top: 2%;
    left: 23%;
}

.boton-rojo{
    background: #ef233c;
}

.boton-azul{
    background: #3da5d9;
}

.boton-naranja{
    background: #ff5400;
}

.boton-verde{
    background: #0ead69;
}

.alerta-verde{
    color: #0ead69;
}

.alerta-roja{
    color: #ef233c;
}

.redondo-rojo-carrito{
    display: flex;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    font-size: 12px;
    height: 14px;
    border-radius: 50%;
    background-color: #ef233c;
    color: #e5e5e5;
}

.paddingLR-10{
    padding-left: 10px;
    padding-right: 10px;
}

.bx-logoGrande{
    font-size: 8rem;
}

/* Estilos para toda la tabla */
table {
    border-collapse: collapse;
    width: 100%;
}

table img{
    height: 50px;
}

th {
    background-color: #e6a340; /* Color de fondo del encabezado */
    border: 1px solid #000000; /* Borde del encabezado */
    padding: 8px;
    text-align: left;
}

tr:nth-child(odd) {
    background-color: #ffcb78; /* Color de fondo para filas impares */
}

tr:nth-child(even) {
    background-color: #ffe8c4; /* Color de fondo para filas pares */
}

td {
    border: 1px solid #000000; /* Borde de las celdas de datos */
    padding: 8px;
    text-align: left;
}