/*NOTE: Estilos para el menu**/
#menu{
    background-color: #000000;
    border-bottom: 4px solid #fca311;
}

#menu ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
    margin-left: 10px;
}

#menu ul li{
    border-right: 1px solid #fca311;
    transition: all 300ms;
    display: flex;
    align-items: center;
}

#menu li a{
    color: #e5e5e5;
    padding:15px;
}

#menu li:hover{
    background-color: #fca311;
    color: #32373b;
}

#menu li:hover i, #menu li:hover a{
    color: #32373b;
}