/*NOTE: Estilos a los pedido de la web*/
#pedido.carrito, #pedido.realizar, #pedido.listado, #pedido.confirmado, #pedido.detalle{
    width: 100%;
    margin-top: 12px;
    margin-right: 15px;
}

#pedido.infoDetalle{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}