/*NOTE: Estilos a los pedido de la web*/
#pedido.carrito, #pedido.realizar, #pedido.listado, #pedido.confirmado, #pedido.detalle{
    width: 100%;
    padding-top: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 2px solid #f1c47b;
    position: relative;
}

#pedido.infoDetalle{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.carrito-total{
    margin-top: 50px;
}