/*NOTE: Estilos a los productos de la web*/
#producto.listado, #producto.crear, #producto.destacados, #producto.verProducto{
    width: 100%;
    padding-top: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 2px solid #f1c47b;
    position: relative;
}

.producto{
    width: 30%;
    border-right: 2px solid #000000;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    text-align: center;
}

.producto img{
    height: 150px;
    margin-bottom: 10px;
}

.producto h2{
    font-size: 20px;
    margin-bottom: 10px;
}

.producto p{
    font-size: 16px;
    color: #000000;
    margin-bottom: 10px;
    font-weight: bold;
}

.producto-detalle{
    display: inline-block;
    width: 80%;
}

.producto-detalle img{
    width: 40%;
    float: left;
}

.producto-detalle .datos{
    width: 55%;
    float: right;
    margin-top: 80px;
}

.producto-detalle .datos p{
    margin-bottom: 10px;
}